/* resources/css/app.css */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'leaflet/dist/leaflet.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* Custom styles */
.leaflet-container {
    height: 400px;
    width: 100%;
    border-radius: 8px;
}